.CollectionContract{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-family: Poppins;
    font-weight: 600;
}
.ContractAddress{
    width: 100%;
    flex: 1;
    word-wrap: break-word;
    text-align: center;
    color: white;
}
.LeftStatus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.PriceStautsRead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.NftCollectionName{
    color: white;
    font-family: Bebas Neue;
    font-size: 25px;
}
.NftPriceCard .ant-card-cover{
    height:290px;
    overflow: hidden;
}
.ContractPrice{
    color: white;
}
.NftPriceImg{
    border-radius: 20px 20px 0px 0px !important;
}
.TicketRow{
    line-height: 20px;
}
.NftPriceCard{
    position: relative;
}
.ExploreCircleImg{
    width: 60px;
    border-radius: 100%;
    position: absolute;
    top: 220px;
    left: 42%;
}
.NftPriceCard .ant-card-body{
    border-radius: 0px 0px 20px 20px;
    padding: 10px;
}
.NftPriceCard .NftPriceDesText{
    display: flex;
    flex-direction: column;
}
.NftPriceCard .NftPriceMark{
    max-width: 40px !important;
}
.NftPriceCard .NftPriceTypeBig{
    font-family: Bebas Neue;
    font-size: 25px;
    line-height: 1em;
    color: white;
}
.NftPriceCard .NftPriceTypeSmall{
    color: white;
    font-family: Bebas Neue;
    line-height: 15px;
}
.NftPriceCard .TicketsAmountInfo{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.NftPriceCard .TicketNumber{
    font-family: Bebas Neue;
    font-size: 35px;
    line-height: 30px;
    margin-top: 5px;
    color: white;
}
.NftPriceCard .TicketAmount{
    font-family: Bebas Neue;
    color: white;

}
.NftPriceCard .PriceCaption{
    font-family: Bebas Neue;
    color: white;

}
.NftPriceCard .Price{
    font-family: Bebas Neue;
    font-size: 30px;
    margin-left: 5px;
    color: white;

}
.NftPriceCard .PriceImg{
    max-width: 20px;
}
.NftPriceCard .DelayDay{
    font-family: Bebas Neue;
    color: white;
    font-size: 15px;
}

@media screen and (max-width:640px) {
    .NftPriceCard{
       width: 300px !important;
   }

}
@media screen and (max-width:560px) {
    .NftPriceCard{
        width: 240px !important;
    }
 }