.UserProfile2{
    padding: 0px 20px 20px 20px;
    margin-bottom: 10vh;
}
.UserProfile2 table{
    border: 1px solid red;
    width: 100%;
    font-family: Poppins;
    font-weight: 600;
}
.match-usd{
    color: #f3f31b;
}
.TotalRefferals{
    display: flex;
    flex-direction: row;
    font-family: Poppins;
    font-weight: 600;
    font-size: 30px;
    justify-content:center;
    margin-bottom: 0px !important;
}
.UserProfile2 tr{
    border: 1px solid #eee;
}
.UserProfileCard{
    width: 950px;
    height: auto;
    border-radius: 30px !important;
    display: flex;
    justify-content: left;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
.UserProfileCard .ant-card-body{
    background-color: white !important;
    border-radius: 30px !important;

}
.CardInRow{
    display: flex;
    flex-direction: row;
}
.UserLoginState{
    font-size: 32px;
    margin-top: 30px;
}
.ProfileView{
    font-size: 16px;
    color: white;
    font-weight: 600;
    background-color: rgb(89,195,234);
    padding: 5px 10px 5px 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
}
.ProfileDes{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}
.StateBar{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 10px;
}
.StateDot{
    width: 15px;    
    height: 15px;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 100%;
}
.TransactionContent{
    font-family: Bebas Neue;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.TempoText{
    max-width: 700px;
    text-align: center;
}
.BlueDot{
    background-color:rgb(89,195,234) ;
}
.ProfileCardGrid{
    /* display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 30px;
    gap: 20px;
     */
     max-width: 950px;
     box-shadow: rgba(0, 0, 0, 0.15) -10.95px 19.95px 15.6px;
    border-radius: 20px;
    margin-top: 30px;
}
.TransactionTest{
    box-shadow: rgba(0, 0, 0, 0.15) -10.95px 19.95px 15.6px;
    margin-top: 30px;
    border-radius: 20px;
    padding: 20px 40px 20px 40px;
    min-height: 300px;
    background-color:#01e0dd;
}
.TestCaption{
    font-weight: 800;
    font-size: 30px;
}
.TransactionTest table{
    text-align: center;
}
@media screen and (max-width:1290px) {
    .UserProfileCard{
        width: 700px;
    }
    .UserProfile2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .TransactionTest{
        width: 100%;
    }
    .ProfileDes{
        margin-left: 40px;
    }
    /* .ProfileCardGrid{
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: center;
    }
    .ProfileCardGrid .ant-card{
        margin-top: 20px !important;
    } */
}
@media screen and (max-width:1090px) {
    .UserProfileCard{
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .CardInRow{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .ProfileDes{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0px;
    }
    
    .ProfileView{
        margin: 0px;
        margin-top: 20px;
    }
    .ProfileCardGrid{
        grid-template-columns: auto;
        align-items: center;
        justify-content: center;
    }
    .UserProfile2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}       



@media screen and (max-width:425px){
    .UserProfileCard{
        width: 250px;
    }
    .UserProfileCard .ant-card-body{
        width: 250px;
    }
    .UserLoginState{
        text-align: center;
    }
    .UserLoginState{
        font-size: 24px;
    }
    .UserProfile2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
