.SellingItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-top: 20px !important;
    min-height: 220px;
}
.SellItemType{
    font-family: Bebas Neue;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}
.SellItemText{
    font-family: Poppins;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
}
.SellingItemRow{
    margin: 20px;
}
.SellingItemImg{
    max-width: 80px;
}