.ProfileCardNft{
    width: 300px;
}
.ProfileNftImg{
    border-radius: 20px 20px 0px 0px !important;
    height: 240px;
}
.ProfileNftRow{
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.ProfileCardNft .ant-card-body{
    border-radius: 0px 0px 20px 20px;
}
.NftPriceDesText{
    display: flex;
    flex-direction: column;
}
.NftPriceMark{
    max-width: 40px !important;
}
.ProfileCardNft .NftPriceTypeBig{
    font-family: Bebas Neue;
    color: white;
    font-size: 25px;
    line-height: 20px;
}
.ProfileCardNft .NftPriceTypeSmall{
    font-family: Bebas Neue;
    color: white;
}
.TicketsAmountInfo{
    display: flex;
    flex-direction: column;
}
.ProfileCardNft .TicketNumber{
    font-family: Bebas Neue;
    color: white;
    font-size: 35px;
    line-height: 30px;
    margin-top: 5px;
}
.ProfileCardNft .TicketAmount{
    font-family: Bebas Neue;
    color: white;
}
.ProfileCardNft .PriceCaption{
    color: white;
    font-family: Bebas Neue;
}
.ProfileCardNft .Price{
    color: white;
    font-family: Bebas Neue;
    font-size: 30px;
    margin-left: 5px;
}
.PriceImg{
    max-width: 20px;
}
.ProfileCardNft .DelayDay{
    color: white;
    font-family: Bebas Neue;
    font-size: 15px;
}

@media screen and (max-width:640px) {
   .NftPriceCard{
       width: 300px !important;
   }
}
@media screen and (max-width:560px) {
    .NftPriceCard{
        width: 240px !important;
    }
 }
 
@media screen and (max-width:320px) {
    .ProfileNftImg{
        max-width: 250px;
    }
    .ProfileCardNft{
        max-width: 250px;
    }
}