@import '~antd/dist/antd.css';
.ant-card-body{
    background-color: #01e0dd !important;
    border-radius: 0px 0px 20px 20px;
    padding: 10px;
}
.ant-card{
    border-radius: 20px;
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.theme-background {
    background-color: #01e0dd !important;
}
.usd-price{
    color:#FFFF01;
    font-size:18px;
    margin-left: 5px;
    font-weight:200;
}